<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Classeviva Sync{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/favicon.png">
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Classeviva → Google Calendar</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Registra</a></li>
            <li class="nav-item"><a class="nav-link" href="/terms">Termini di Servizio</a></li>
            <li class="nav-item"><a class="nav-link" href="/privacy">Privacy</a></li>
	    <li class="nav-item"><a class="nav-link" href="https://github.com/taddeo17/Classeviva2GCal">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
