{% extends 'base.html' %}
{% block title %}Registra utente{% endblock %}
{% block content %}
<div class="card mx-auto" style="max-width:720px">
  <div class="card-body">
    <h5 class="card-title">Registra un nuovo utente</h5>
    <form method="post" action="/register_form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label">Classeviva - Utente <span style="color: red;">*</span></label>
        <input class="form-control" name="classeviva_user" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Classeviva - Password <span style="color: red;">*</span></label>
        <input class="form-control" name="classeviva_pwd" type="password" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Google Calendar ID <span style="color: red;">*</span></label>
        <input class="form-control" name="calendar_id" required placeholder="es. c_be3ce47f239063e01b7aa0d9ee44273244970347f21607b9a67fcf05542e9979@group.calendar.google.com">
      </div>
      <button class="btn btn-primary">Registra</button>
    </form>
  </div>
</div>
{% endblock %}